<h2>Create New Driving Record</h2>

<%= form_with model: @record do |form| %>
  <%= form.text_field :start_time %>
  <%= form.text_field :end_time %>
  <%= form.text_field :miles_driven %>
  <%= form.submit %>
<% end %>